/*갤러리 부분*/
/* .artistGallary {
    position: absolute;
    width: 100%;
    top: 430px;
} */
.containerGrid {
    font-family: 'Noto Sans KR';
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(300px));
    grid-auto-rows: repeat(auto-fill, minmax(425px));
    /* grid-template-rows: 425px; */
    /* column-gap: 70px;*/
    /* row-gap: 20%; */
    padding-right: 3%;
    padding-bottom: 10%;
}

.artists {
    list-style: none;
    font-family: 'Noto Sans KR';
    /* min-width: 1350px; */
    height: 425px;
    width: 300px;
}

.artists_img{
    width: 300px;
    height: 300px;
}

.info{
    width: 300px;
}

.artists_name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 12px 0px 0px 0px;
    text-decoration-line: none;
}

.artists_enName {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}

.artists_border {
    width: 30px;
    border: 1px solid #616161;
    float: left;
    display: block;
    margin-top: 22px;
}

.artists_intro {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* margin-top: 22px; */
}

.artworkInfo {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #616161;
    margin-top: 3px;
}