@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body {
    width: 1100px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
}
.containerAll {
    display: flex;
    margin-top: 138px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.containerImg {
    width: 54%;
    margin: 0 auto;
}

.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #474747;
}

.containerInfo {
    width: 46%;
}

.containerInfo-subject1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    color: #000000;
    margin: 0px;
}

.containerInfo-subject2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #616161;
    margin-top: 7px;
}

.artworkInfo1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
}

.artworkInfo1Left {
    margin-top: 0px;
    color: #666666;
    width: 86px;
}

.artworkInfo1Middle {
    color:#000000;
}

.artworkInfo1Right {
    width: 90px;
    margin: auto 0 0 auto;
}

.button1 {
    display: flex;
    margin-top: 28px;
    border-bottom: solid 2px #010326;
}

.buttonRental{
    text-align: center;
    width: 50%;
    height: 50px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background: #666666;
    color: #F2F2F2;
    border:0;
    outline: 0;
}

.buttonBuy{
    text-align: center;
    width: 50%;
    height: 50px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background: #E5E5E5;
    color: #000000;
    border:0;
    outline: 0;
}
input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label {
    text-align: center;
    width: 50%;
    height: 50px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background: #666666;
    color: #F2F2F2;
    border:0;
    outline: 0;    
    line-height: 45px;
}
.label{
    text-align: center;
    width: 50%;
    height: 50px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background: #E5E5E5;
    color: #000000;
    border:0;
    outline: 0;
    line-height: 45px;
    
}
.label:hover {
    background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */ 
    }

.money1 {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-top: 12px;
}
.money1-1 {
    width: 25%;
    color: #666666;
}
.money1-1-b {
    width: 25%;
    color: #CCCCCC;
}

.money1-2 {
    width: 25%;
    text-align: right;
    color: #000000;
}
.money1-2-b {
    width: 25%;
    text-align: right;
    color: #CCCCCC;
}

.money1-3 {
    width: 25%;
    padding-left: 20px;
    color: #CCCCCC;
}
.money1-3-b {
    width: 25%;
    padding-left: 20px;
    color: #000000;
}

.money1-3 {
    width: 25%;
    padding-left: 20px;
    color: #CCCCCC;
}
.money1-3-b {
    width: 25%;
    padding-left: 20px;
    color: #000000;
}

.money1-4 {
    width: 25%;
    padding-left: 20px;
    color: #CCCCCC;
}
.money1-4-b {
    width: 25%;
    padding-left: 20px;
    color: #000000;
}

.money2 {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.money2-1 {
    color: #666666;
    width: 25%;
}
.money2-1-b {
    width: 25%;

    color: #CCCCCC;
}

.money2-2 {
    width: 25%;
    text-align: right;
    color: #000000;
}

.money2-2-b {
    width: 25%;
    text-align: right;
    color: #CCCCCC;
}

.money2-3 {
    width: 25%;
    padding-left: 20px;
}

.money2-4 {
    width: 25%;
}

.money3 {
    display: flex;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 22px;
    margin-bottom: 0px;
}

.money3-1 {
    width: 50%;
    font-size: 18px;
    color: #666666;
    margin-top: 0px;

}

.money3-2 {
    width: 50%;
    text-align: right;
    font-weight: 700;
    font-size: 30px;
    color: #010326;
    vertical-align: super;
    margin-top: 0px;
    margin-bottom: 0px;

}

.money_R_B{
    width: 50%;
    text-align: right;
    font-weight: 700;
    font-size: 30px;
    color: #010326;
    vertical-align: super;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button2 {
    display: flex;
    margin-top: 24px;
    height: 61px;
}

.buttonSave {
    text-align: center;
    width: 50%;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background: #010326;
    color: #F2F2F2;
    border:0;
    outline: 0;
}

.buttonBuy2{
    text-align: center;
    width: 50%;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background: #F2C438;
    color: #000000;
    border:0;
    outline: 0;
}

.money_hidden{
    display: none;
}
.subjectItr {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    color: #000000;
    margin-top: 123px;
}

.containerItr {
    margin-top: 43px;
    display: flex;
}
.sidePreView {
    width: 50%;
}
.button_wrap {
    display: grid;
    grid-template-columns: 136px 136px 136px;
    grid-template-rows: 176px 176px 176px;
    float: right;
    width: 50%;
    column-gap: 5%;
    row-gap: 3%;
    justify-content: end;

}

.button_wrap button {
    border: solid 1px #CCCCCC;
}

.button_wrap img{
    width: 136px;
}

.buttonInfo{
    margin-top: 6px;
    margin-left: 6px;
    text-align: center;
}

.artworkInfo {
    margin-top: 30px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.artworkNote {
    width: 100%;
    height: 350px;
    background-image: url(/public/img/artistNotePaper.jpg);
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    text-indent: 10px;
    color: #000000;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
}

.artworkNoteText {
    font-family: 'RIDIBatang';
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.money_hidden{
    display: none;
}

.non-style{
    text-decoration: none;
}