@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 


.btn{
    padding-left: 1em;
    padding-right: 1em;

    border-radius: 100vh;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;

    font-size: 1rem;
    text-align: center;
    line-height: 2;

    z-index: 10;
}

.bg-yellow {
  color: #fff;
  background-color: #EBc655;
}

.bg-black{ 
  color: #fff;
  background-color: black;
}

.bg-white{
  color: black;
  background-color: white;
}