.Slide_Con{
    /* display: block; */
    text-align: center;
    z-index:3;
}

.slick-slide img{
    height: 50vh;
}

.slick-arrow:before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }



.slick-arrow{
    z-index:2!important;
    width:23px!important;
    height:43px!important;
  }


.slick-next:before{
    background: url('../../public/img/arrow_right.png')!important;
    background-size: contain!important;

  }

  .slick-prev:before{
    background: url('../../public/img/arrow_left.png')!important;
    background-size: contain!important;

  }