
.cp_timeline04 {
	position: relative;
	margin: 10em auto;
	padding-bottom: 2em;
	margin-left: 100px;
}
.cp_timeline04:before {
	position: absolute;
	top: 0px;
	left: 45px;
	width: 3px;
	height: 100%;
	content: '';
	background: #D9D9D9;
}
.cp_timeline04 .timeline_item {
	margin: 0px 0px 0px 80px;
}
.cp_timeline04 .timeline_item .time_date .time {
    margin-top: 140px;
	margin-bottom: 0px;
	position: relative;
	font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.315em;
    color: #666666;

}
.cp_timeline04 .timeline_item .time_date .time:before {
	position: absolute;
	top: 50%;
	left: -42px;
	width: 10px;
	height: 10px;
	content: '';
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	border: 3px solid #F2C438;
	background: #F2C438;
}
.cp_timeline04 .timeline_item .time_date .flag {
	font-weight: bold;
	color: #010326;
	font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
	margin-top: 10px;
	text-align: center;

}
.cp_timeline04 .timeline_item .desc {
	font-size: 0.8em;
	line-height: 20px;
	margin-top: 10px;
	padding-left: 20px;
	display: flex;
	justify-content: center;
}

.exhiInfo {
	color: #010326;
	font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
	margin-top: 20px;
	text-align: center;
	letter-spacing: 0.1em;

}
@media only screen and (max-width: 767px) {
	.cp_timeline04:before {
		left: 15px;
	}
	.cp_timeline04 .timeline_item .time_date .time:before {
		left: -32px;
	}
	.cp_timeline04 .timeline_item {
		margin: 0px 0px 0px 40px;
	}
	.cp_timeline04 .timeline_item .desc {
		padding-left: 0px;
		border-top: 1px solid #880e4f;
		border-left: none;
	}
}